<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% comment %}

    We check to see what the page title is before appending
    "| Andrew Low" to it, as otherwise this would result with an
    index title of "Andrew Low | Andrew Low".

    {% endcomment %}
    {% if page.title == "Andrew Low" %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | Andrew Low</title>
    {% endif %}
    <meta name="description" content="Personal website of Andrew Low">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tooltip" content="Andrew Low's personal website">

    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    {%include google-analytics.html %}
  </head>

  <body>

    <div class="wrapper">

      {% comment %}

      The header section. Contains title, navbar links, a picture, and
      external links.

      {% endcomment %}
      <header>
        <center>
          <h1>
            <a href="/">ANDREW<b>LOW</b></a>
            <ul>
              <li><a href="/cv/AndrewLow.pdf"><b>R</b>ésumé</a></li>
              <li><a href="/projects/"><b>P</b>rojects</a></li>
            </ul>
          </h1>
          <div class="img-frame"><img src="/images/selfie.jpg" width="180" height="180"/></div>
          {% comment %} External Links {% endcomment %}
          <ul>
            <li><a href="https://github.com/kahkhang" target="_blank">GitHub<small>Where coffee turns into code</small></a></li>
            <li><a href="https://www.linkedin.com/in/andrew-low/" target="_blank">Linkedin<small>My working life</small></a></li>
            <li><a href="https://www.facebook.com/kahkhang" target="_blank">Facebook<small>My personal life</small></a></li>
            <li><a href="https://www.youtube.com/user/RafflesAlumniCO" target="_blank">Chinese Orchestra<small>Where I spent my weekends</small></a></li>
          </ul>
        </center>
      </header>

      <section>
        {% comment %}

        The page.date and page.render_post variables are used as a sentinel
        to find out if we are rendering a post. If either are present,
        we use the post style.

        {% endcomment %}
        {% if page.date or page.render_post %}
          <div id="post">
            <h1 class="title">{{ page.title }}</h1>
            <h1 class="title" id="hidden-title"></h1>
        {% endif %}

        {{ content }}

        {% if page.date or page.render_post %}
            <div class="nav">
              <hr>

              <div class="next">
                {% if page.next %}
                <a href="{{ page.next.url }}" title="Read the previous post">Newer post</a>
                {% else %}
                <a href="/#posts" title="Return to home page">Read more</a>
                {% endif %}
              </div>

              <div class="previous">
                {% if page.previous %}
                <a href="{{ page.previous.url }}" title="Read the previous post">Older post</a>
                {% else %}
                <a href="/#posts" title="Return to home page">Read more</a>
                {% endif %}
              </div>

              {% if page.date %}
              <div class="date">
                {{ page.date | date_to_string }}
              </div>
              {% endif %}
          </div>
        {% endif %}
      </section>
      <footer>
        <center>
          <p>
            <small>
              &copy; Andrew Low 2017
            </small>
          </p>
        </center>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/js/site.min.js"></script>
  </body>
</html>
